---
layout: layout
title: Statement
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 offset-md-1">
      <header>
        <h1>Statement</h1>
      </header>
    </div>
    <div class="col-md-6 col-sm-9 offset-md-1">
      <main>
        <%= t(:statementtext) %>
        <p class="mt-5">Alberto Raiteri</p>
      </main>
    </div>
    <div class="col-md-3 col-sm-3 offset-md-1">
      <aside>
        <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/about/alberto.jpg">
      </aside>
    </div>
  </div>
</div>
