---
layout: books
title: Il Libro di Agnese
slug: il-libro-di-agnese
thumbs: 15
---

<h2>Agnese's Book</h2>
<p>1997</p>
<p>Dimensions: 32x25,5 cm<br>
Ink, watercolor and acrylic on canvas</p>

<p>Agnese's Book is a book for children.</p>
<p>It includes fourteen unpublished and original fairy tales and six short interludes, written and illustrated by hand on canvas and subsequently bound in a single copy.</p>
<p>Dedicated to little Agnese, the book wants to be understood as an artist's book dedicated by a father to his newborn daughter.</p>
