---
layout: books
title: Il Libro di Agnese
slug: il-libro-di-agnese
thumbs: 15
---

<h2>Il libro di Agnese</h2>
<p>1997</p>
<p>Formato: 32x25,5 cm<br>
Inchiostro, acquerello e acrilico su tela</p>

<p>Il libro di Agnese è un libro per l’infanzia.</p>
<p>Comprende quattordici fiabe inedite ed originali e sei intermezzi brevi, scritti ed illustrati a mano su tela e successivamente rilegati in un’unica copia.</p>
<p>Dedicato alla piccola Agnese, vuole intendersi come un libro d’artista dedicato da un padre alla figlia appena nata.</p>
