---
layout: layout
title: Bio
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h1><%= t(:about) %></h1>
      </header>
    </div>
    <div class="col-md-8">
      <main>
        <p>Alberto Raiteri nasce nel 1966 a Casale Monferrato.</p>
        <p>Consegue la Maturità Artistica nel 1984 e, nel 1987, il Diploma di Illustrazione presso lo IED, Istituto Europeo di Design, di Milano.</p>
        <p>Dopo un'esperienza presso l'agenzia pubblicitaria 'Ormandy & Mayer' di Alessandria, nel 1991 fonda, insieme ad Elena Doria, l'agenzia 'Raiteri & Doria Associati', con la quale opera come illustratore editoriale e pubblicitario e come designer per alcune delle più importanti aziende del settore della casa e della cultura della tavola, sia in Italia che all'estero.</p>
        <p>Negli anni '90, inizia il suo percorso di ricerca attraverso il teatro e la pittura, alla quale si dedica interamente dal 2003, abbandonando definitivamente l'ambito pubblicitario.</p>
      </main>
    </div>
  </div>
</div>
