---
layout: layout
title: About
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h1><%= t(:about) %></h1>
      </header>
    </div>
    <div class="col-md-8">
      <main>
        <p>Alberto Raiteri was born in Casale Monferrato in 1966.</p>
        <p>He obtained the Artistic High School diploma in 1984 and the Illustration Diploma at the IED, European Institute of Design, in Milan in 1987.</p>
        <p>After an experience with the “Ormandy & Mayer” advertising agency in Alessandria, he founded the “Raiteri & Doria Associati” agency with Elena Doria in 1991, collaborating as a publishing and advertising illustrator and as a designer for some of the most important companies in the home and table culture sectors in Italy and abroad.</p>
        <p>In the 1990s, he began his research experience through theatre and painting, to which he has been dedicating himself totally since 2003, abandoning the advertising field for good.</p>
      </main>
    </div>
  </div>
</div>
