---
layout: layout
title: Exhibitions
---

<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-md-1">
      <header>
        <h1><%= t(:exhibitions) %></h1>
      </header>
    </div>
    <div class="col-7 offset-md-1">
      <main>
        <%= t(:exhibitionstext) %>
      </main>
    </div>
  </div>
</div>
